.auth-container section {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-container section form input {
    width: 350px;
}

.auth-container section form p {
    text-align: center;
}