.video-grid {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.video-card, .short-card {
    position: relative;
    transition: all 0.25s ease-in-out;
}

.video-card img, .short-card img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-card div, .short-card div {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    text-wrap: wrap;
    z-index: 10;
    transition: all 0.25s ease-in-out;
}

.video-card {
    width: 400px;
    height: 225px;
}

.short-card {
    height: 480px;
    width: 270px;
}

.video-card p, .short-card p {
    position: absolute;
    bottom: 0;
    opacity: 0;
    color: white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
}

.video-card p {
    padding-right: 65px;
}

.video-card:hover, .short-card:hover {
    transform: translateY(-5px);
}

.video-card:hover img, .short-card:hover img {
    opacity: 0.5;
}

.video-card:hover p, .short-card:hover p {
    opacity: 1;
}

@media (max-width: 1000px) {
    .video-grid {
        margin: 7.5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 7.5px;
    }

    .video-card, .short-card {
        height: fit-content;
    }

    .video-card div, .short-card div {
        width: 100%;
        height: 100%;
        background-color: var(--section-color);
        text-wrap: wrap;
        z-index: 10;
        transition: all 0.25s ease-in-out;
    }

    .video-card {
        width: 350px;
    }

    .short-card {
        width: 135px;
        height: 240px;
    }

    .video-card p {
        position: static;
        text-align: justify;
        opacity: 1;
        color: var(--text-color);
        width: 100%;
        box-sizing: border-box;
        padding-right: 10px;
        transition: all 0.25s ease-in-out;
    }

    .short-card p {
        display: none;
    }

    .video-card:hover, .short-card:hover {
        transform: none;
    }

    .video-card:hover img, .short-card:hover img {
        opacity: 1;
    } 
}