.main-404{
    color: white;
    display: flex;
    align-items: center;
    height: calc(100vh - 90px);
    box-sizing: border-box;
    background-image: url(/images/kgamex-poses/lost.svg), url(/images/main-gradient-404.jpg);
    background-size: auto 85%, 100% 100%;
    background-position: bottom -10px right 15%, center;
    background-repeat: no-repeat;
}