input[type="radio"], input[type="checkbox"] {
    display: none;
}

input:checked + label span.button {
    background-color: black;
    color: white;
}

form {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.textbox {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Ubuntu Mono;
    width: 100%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.no-padding .textbox {
    background-color: var(--percent-90);
}

.textbox:focus {
    outline: none;
}

button {
    font-family: Gotham;
    border: none;
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}

button:hover {
    background-color: var(--percent-60);
    color: white;
}

button:disabled {
    cursor: not-allowed;
    color: #808080;
}

button:disabled:hover {
    background-color: var(--bg-color);
    color: #808080;
}

.no-padding button {
    background-color: var(--section-color);
}

.no-padding button:hover {
    background-color: var(--percent-60);
    color: white;
}

.no-padding button:disabled:hover {
    background-color: var(--section-color);
    color: #808080;
}

button:focus {
    outline: none;
}