[data-theme="light"] {
    --bg-color: #f2f2f2;
    --section-color: white;
    --text-color: black;
    --text-footnote-color: #404040;
    --invert-image: invert(0);

    --percent-90: #e6e6e6;
    --percent-70: #b3b3b3;
    --percent-60: #999999;
}

[data-theme="dark"] {
    --bg-color: #1a1a1a;
    --section-color: #262626;
    --text-color: white;
    --text-footnote-color: #b3b3b3;
    --invert-image: invert(1);

    --percent-90: #333333;
    --percent-70: #4d4d4d;
    --percent-60: #666666;
}

body {
    margin: 0 0 0 100px;
    padding: 0;
    font-family: gotham, montserrat;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-sizing: border-box;
}

* {
    transition: all 0.25s ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--percent-90);
}

::-webkit-scrollbar-thumb {
    border: 2.5px solid #00000000;
    background-clip: padding-box;
    border-radius: 10px;
    background-color: var(--percent-70);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--percent-60);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 5px 10px;
    word-break: break-word;
    white-space: pre-wrap;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 50px;
}

h5 {
    font-size: 40px;
}

h6 {
    font-size: 30px;
}

p, li {
    font-size: 20px;
}

.footnote {
    font-size: 15px;
    color: var(--text-footnote-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.25s ease-in-out;
}

li {
    list-style-type: "- ";
}

.danger {
    color: #d90000;
}

.warning {
    color: #e6d300;
}

.success {
    color: #007f00;
}

section {
    background-color: var(--section-color);
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: justify;
}

.sample {
    background-color: var(--section-color);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: fit-content;
    max-width: calc(100% - 20px);
    margin: 10px auto;
    box-sizing: border-box;
}

.no-padding {
    padding: 0;
    background: none;
}

.flex {
    display: flex;
    gap: 10px;
}

.small-block {
    width: fit-content;
}

span.button, span.block {
    color: var(--text-color);
    display: inline-block;
    text-align: center;
    background-color: var(--bg-color);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
    user-select: none;
    word-break: keep-all;
}

.no-padding span.button, .no-padding span.block {
    background-color: var(--section-color);
}

span.button:hover {
    background-color: var(--percent-60);
    color: white;
    cursor: pointer;
}

.center-container {
    margin: 10px;
    min-height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    min-height: calc(100vh - 90px);
}

@media (max-width: 1000px) {
    body {
        margin: 82.5px 0 0 0;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 35px;
    }

    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 25px;
    }

    h6 {
        font-size: 20px;
    }

    p, li {
        font-size: 15px;
    }

    .footnote {
        font-size: 12.5px;
    }

    section {
        margin: 7.5px;
    }

    .sample {
        max-width: calc(100% - 15px);
        margin: 7.5px auto;
    }

    .flex {
        gap: 7.5px;
    }

    .small-block {
        width: fit-content;
    }

    span.button, span.block {
        font-size: 15px;
    }

    .center-container {
        margin: 7.5px;
        min-height: calc(100vh - 200px);
    }

    .tab {
        min-height: calc(100vh - 200px);
    }
}