body {
    margin: 0 0 0 100px;
    padding: 0;
    font-family: gotham;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e6e6e6;
}

::-webkit-scrollbar-thumb {
    border: 2.5px solid #00000000;
    background-clip: padding-box;
    border-radius: 10px;
    background-color: #b3b3b3;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 5px 10px;
    word-break: break-word;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 50px;
}

h5 {
    font-size: 40px;
}

h6 {
    font-size: 30px;
}

p, li {
    font-size: 20px;
}

.footnote {
    font-size: 15px;
    color: #404040;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

li {
    list-style-type: "- ";
}

section {
    background-color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: justify;
}

.sample {
    background-color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    margin: 10px auto;
}

.no-padding {
    padding: 0;
    background: none;
}

span.button, span.block {
    color: black;
    display: inline-block;
    background-color: #f2f2f2;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    user-select: none;
    word-break: keep-all;
}

.no-padding span.button, .no-padding span.block {
    background-color: white;
}

span.button:hover {
    background-color: #999999;
    color: white;
}

.tab {
    min-height: 100vh;
}