.navbar {
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100px;
    top: 0;
    left: 0;
    background-color: var(--section-color);
    transition: all 1s cubic-bezier(1, 0, 0, 1), background-color 0.25s ease-in-out;
    z-index: 100;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
}

.navbar a {
    text-decoration: none;
    transition: all 1s cubic-bezier(1, 0, 0, 1), opacity 0.25s ease-in-out;
}

.navbar p {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.navbar div {
    height : 50px;
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.25s ease-in-out;
}

.navbar div.menu {
    height: fit-content;
    flex-direction: column;
}

.navbar div.submenu:hover, .navbar div.dropdown-toggle:hover {
    background-color: var(--percent-90);
}

.navbar div.home-mobile, .navbar div.hidden {
    display: none;
}

.navbar div.home {
    height : 100px;
    background-image: url('/images/main-gradient.jpg');
    background-size: 200px 200px;
    transition: inherit;
}

.navbar div.home img {
    height: 120%;
    transition: inherit;
}

.navbar div.home:hover img {
    opacity: 0.8;
}

.navbar div.dropdown-toggle img {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    filter: var(--invert-image);
}

.navbar .submenu {
    width: 300px;
    justify-content: center;
    transition: background-color 0.25s ease-in-out, position 1s cubic-bezier(1, 0, 0, 1), width 1s cubic-bezier(1, 0, 0, 1);
}

.navbar .submenu .icon {
    width: 100px;
    transition: position 1s cubic-bezier(1, 0, 0, 1), width 1s cubic-bezier(1, 0, 0, 1), filter 0.25s ease-in-out;
    filter: var(--invert-image);
}

.navbar .submenu .text {
    width: 200px;
    color: var(--text-color);
    transition: position 1s cubic-bezier(1, 0, 0, 1), width 1s cubic-bezier(1, 0, 0, 1), color 0.25s ease-in-out;
}

.navbar.expanded {
    width: 300px;
}

.navbar.expanded div.home {
    height: 300px;
    background-size: 300px 300px;
}

.navbar.expanded div.home img {
    height: 100%;
}

.navbar.expanded div.dropdown-toggle img {
    rotate: 90deg;
}

.navbar.expanded .submenu .icon {
    width: 50px;
}

.navbar.expanded .submenu .text {
    width: 160px; /*150px*/
}

.navbar .bottom {
    margin-top: auto;
}

.cover-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.cover-box.hidden {
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
}

@media (max-width: 1000px) {
    .navbar {
        width: 100%;
        height: 315px;
        border-radius: 0 0 5px 5px;
        top: -240px;
        flex-direction: column;
    }

    .navbar div.menu {
        flex-direction: row-reverse;
        order: 1;
        height: 75px;
        justify-content: space-between;
        transition: height 1s cubic-bezier(1, 0, 0, 1);
    }

    .navbar div.submenu:hover, .navbar div.dropdown-toggle:hover {
        background-color: var(--section-color);
    }

    .navbar div.hidden {
        display: block;
        width: 40px;
    }

    .navbar div.dropdown-toggle {
        width: 40px;
        height: 100%;
    }

    .navbar div.dropdown-toggle img, .navbar .submenu .icon img {
        width: 30px;
    }

    .navbar div.home-mobile {
        display: block;
        background-image: url('/images/main-gradient.jpg');
        background-size: 100% 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0;
        transition: inherit;
    }

    .navbar div.home {
        height: 75px;
        width: 75px; 
        background-size: 150px 150px;
        transition: inherit;
    }

    .navbar div.home-mobile img {
        height: 200%;
        transition: inherit;
    }

    .navbar div.home:hover img, .navbar div.home-mobile:hover img {
        opacity: 1;
    }

    .navbar .submenu {
        width: 200px;
        height: 40px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .navbar .submenu .icon, .navbar .submenu .text {
        width: fit-content;
    }

    .navbar.expanded {
        top: 0;
        height: 440px;
        width: 100%;
    }

    .navbar.expanded .menu {
        height: 0;
    }
    
    .navbar.expanded div.home-mobile {
        height: 200px;
    }

    .navbar.expanded div.home {
        height: 75px;
        width: 75px; 
        background-size: 150px 150px;
    }

    .navbar.expanded div.home-mobile img {
        height: 100%;
    }

    .navbar.expanded div.dropdown-toggle img {
        rotate: 0deg;
    }

    .navbar.expanded .submenu .icon, .navbar.expanded .submenu .text {
        width: fit-content;
    }

    .navbar .bottom {
        margin-top: 0;
    }
}