.fade-exp-enter-active,
.fade-exp-leave-active {
    transition: all 0.3s ease-in-out;
}

.fade-exp-enter-from,
.fade-exp-leave-to {
    transform: translateY(-50px);
    opacity: 0;
}

.image-fade-enter-active,
.image-fade-leave-active {
    transition: transform 1s cubic-bezier(0.8, 0, 0.2, 1), opacity 1s cubic-bezier(0.8, 0, 0.2, 2);
}

.image-fade-enter-from,
.image-fade-leave-to {
    opacity: 0;
}

.image-fade-enter-from {
    transform: translateX(25%);
}

.image-fade-leave-to {
    transform: translateX(-25%);
}