.question-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: none;
    padding: 0;
}

.question-card {
    background: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.question-card:hover {
    transform: translateY(-5px);
}

.question-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block.answered {
    background-color: #007f00;
    color: white;
}